# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Build output
dist/
dist-ssr/
build/

# Archivos locales
*.local

# Archivos de entorno (variables sensibles)
.env
.env.local
.env.*.local

# Cache de herramientas
.cache/
.vite/
.nuxt/
.output/
.temp/
.tmp/

# Test coverage
coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de lock opcionales (si no quieres versionarlos)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
