@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --sidebar-width: 250px;
  --sidebar-width-collapsed: 70px;
  --topmenu-height: 64px;
}

/* Transiciones suaves para el sidebar */
.sidebar-transition {
  transition: width 0.3s ease;
}